$colore-container: linear-gradient(90deg, rgba(135, 134, 59, 1) 47%, rgba(130, 126, 21, 1) 98%);
$dimensione-container: 1070px;
$colore-header: black;
$colore-cd: rgb(40, 40, 40);
$tipo-font: 'Lato', sans-serif;
$colore-anno: white;
$colore-genere: rgb(169, 169, 169);
$larghezza-cd: 200px;
$padding-span: 10px;
